body {
    font-family: Arial, sans-serif;
    background-color: #9f0c0c65;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 50px auto;
    margin-top: 30vh;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    margin: 20px 0;
    border: 2px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

#result {
    margin-top: 20px;
    font-size: 18px;
}
